<!DOCTYPE html>
<html>
    <head>
        <title>flask app</title>
    </head>
    
    <body>
        <form action="/index" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="Submit">
        </form>
        <form action="/add" method="post">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="body" placeholder="body">
            <input type="submit" value="Add">
        </form>
        <img src="/static/images/madridvsatletico.jpg" alt="madridderby">
    </body>
</html>